# IDEs and editors
.idea/
.vscode/
.vs/
*.vcxproj*

# Compiled output directories
dist/
out/

# CMake build files
CMakeFiles/
cmake-build-debug/
CMakeCache.txt
cmake_install.cmake
Debug/

# Logs and backup files
*.log
*.old
*.bak

*.sln